*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: rgb(219, 214, 214);
}

h1,h2{
    color: #66BFBF;
    margin: 2rem auto;
    font-family: 'Montserrat', sans-serif;
}

h3,a{
    color: #11999E;
    margin: 1.25rem auto;
    font-family: 'Barlow Condensed', sans-serif;
}

p{
    color: #40514E;
    font-family: 'Zilla Slab', serif;
    font-size: 1.12rem;
}

hr{
    width: 5%;
    margin: 3rem auto;
    height: 0;
    border: 0;
    border-top: .35rem dotted rgb(228, 233, 233);
}

.top_container h1{
    margin: 6.25rem auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Dancing Script', cursive;
}

.top_container h2{
    font-size: 2rem;
    font-weight: normal;
    color: #11999E;
}

.top_container{
    position: relative;
    padding-top: 3rem;
    background: #EAF6F6;
}

.top_image1{
    position: absolute;
    right: 22%;
    width: 7%;
}

.top_image2{
    position: absolute;
    left: 22%;
    width: 7%;
}

.top_image3{
    padding-top: 3rem;
    width: 30%;
}

.pro{
    text-decoration: underline;
}

.profile{
    width: 30%;
    margin: 0 auto;
}

.profile p{
    text-align: justify;
    line-height: 2;
    margin-bottom: 2rem;
}

.profile img{
    border-radius: 50%;
    width: 40%;
    margin-top: 6.25rem;
}

.skill_rows{
    margin: 3rem auto;
    width: 50%;
    text-align: left;
}

.skill_rows p{
    line-height: 2;
}

.skill_rows::after{
    content: " ";
    display: block;
    clear: both;
    visibility: none;
}

#skill_pic1{
    width: 25%;
    float: left;
    margin-right: 2rem;
}
#skill_pic2{
    border-top-left-radius: 22%;
    border-bottom-right-radius: 22%;
    width: 25%;
    float: right;
    margin-left: 3rem;
}

.contact_me{
    width: 40%;
    margin: 0 auto;
}

.contact_me p{
    text-align: justify;
    line-height: 2;
}

button{
    margin: 1.25rem auto;
    background: linear-gradient(to top, rgb(48, 48, 255), rgb(41, 255, 255));
    border-radius: .3rem;
    border: 0;
}

button:hover{
    background: linear-gradient(#66BFBF, cyan);
}

button a:hover{
    color: rgb(19, 125, 187);
    text-shadow: white .625rem .625rem .625rem;
}

button a{
    text-decoration: none;
    line-height: 2;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(235, 247, 247);
}

.bottom_container{
    background: #66BFBF;
}

.bottom_container p{
    color: #EAF6F6;
    line-height: 4;
}

.bottom_container a{
    display: inline-block;
    margin: 2rem 1.25rem 0 1.25rem;
    text-decoration: none;
}

.bottom_container a:hover{
    color: lightgoldenrodyellow;
    text-decoration: underline;
}
